clients/node_modules/

/inspsvr/.bundle
/inspsvr/.byebug_history
/inspsvr/db/*.sqlite3
/inspsvr/db/*.sqlite3-journal
/inspsvr/log/*
!/inspsvr/log/.keep
/inspsvr/tmp

/clients/platforms/
/clients/plugins/

/inspsvr/data/*.json
