clients/node_modules/

/inspsvr/.bundle
/inspsvr/.byebug_history
/inspsvr/db/*.sqlite3
/inspsvr/db/*.sqlite3-journal
/inspsvr/log/*
!/inspsvr/log/.keep
/inspsvr/tmp

/clients/platforms/
/clients/plugins/
/clients/www/js/*.woff2
/clients/www/js/*.svg
/clients/www/js/*.ttf
/clients/www/js/*.eot
/clients/www/js/*.woff
/clients/www/js/bundle.js
/clients/www/js/bundle.js.map

/inspsvr/data/*.json
